@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Caveat:wght@400..700&family=Protest+Revolution&family=Style+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  
  
   body {
     background: #3d566a;
    background: linear-gradient(to bottom, #c9d6ff, #e2e2e2); 
    font-size: larger;
    line-height: 1.6;
    color: #f7f0f0;
  }
  .lyrics {
   
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style:oblique;
    font-size: larger;
    align-items: center;
    color: rgb(147, 243, 153);
    columns: 2;
  }
.lyrics h3{
    font-size:x-large;
    color: rgb(251, 252, 251);
    letter-spacing:0.1cm;
}
h2{
    text-align: center;
    color: rgb(208, 252, 32);
}
  
  
  /* Style the header with a background image and text shadow */
  header {
    
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: "Protest Revolution", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  /* Style the main content with a subtle box shadow */
  main {
    background-image: url(https://media.gettyimages.com/id/84010331/photo/bob-marley.jpg?s=1024x1024&w=gi&k=20&c=fyU6kCY5W_5AhcoHOmbMGsg8WpYT6ZARRKwcT8vhhuY=);
    background-size: cover; /* Ensure the background image covers the entire body */
    background-position: center;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the image gallery with a grid layout and hover effects */
  #imageGallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  #imageGallery img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    float: left; /* Position the images to the left */
    margin-right: 20px; /* Add spacing between the images */
  }
  
  #imageGallery img:hover {
    transform: scale(1.05);
  }
  
  .full-page-transparent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Place the image behind other content searched from google*/
    opacity: 0.5;
  }
  
  
  /* Style the footer with a gradient background and custom font */
  footer {
    text-align: center;
    padding: 0.001cq;
    background: #181818;
  }
  